.DS_Store
.idea/
*.log
*.iml
yarn.lock
package-lock.json
node_modules/

# Ignore optional external libraries
source/lib/*

# Track internal libraries & Ignore unused verdors files
!source/lib/font-awesome/
!source/lib/anime.min.js
!source/lib/velocity/
!source/lib/jquery.min.js
!source/lib/jquery.fancybox.min.js
!source/lib/jquery.fancybox.min.css
!source/lib/canvas-ribbon.js
!source/lib/medium-zoom.min.js
!source/lib/lozad.min.js